body {
    background-color: rgba(231, 82, 55, 0.459);
}

.title {
    color: orangered;
    text-decoration: underline;
}

.subtitle {
    color: rgb(128, 34, 0);
}

a {
    color: rgb(146, 110, 12);
    text-decoration: none;
}